<%= render :partial => "main/navbar" %>

<div class="ui container">
  
  <div class="ui segment">
    <form action="/main/tag_search" method="POST">
    태그검색: #<input type="text" name="tag"><br>
    엄격하게 검색 <input type="radio" name="search_type" value="match_all">
    느슨하게 검색 <input type="radio" name="search_type" value="any" checked>
    <button type="submit">검색!!</button>
    </form>
  </div>
  
  <div class="ui segment">
    <h2> <%=@keyword%> 태그로 검색한 결과</h2>
    <div class="ui grid">
      <% @click_result.each do |image| %>
      <div class="ui four wide column">
        <div class="ui segment">
      <img src="<%= image.jjalbang.url%>" style="width:200px">
      </div>
      <form action="/main/save_image" method="POST">
        <input type="hidden" name="id" value="<%=image.id%>">
        <button type="submit">소장하기</button>
      </form>
        <div class="ui divider"></div>
        <div class="ui tag labels">
          <% image.tags.each do |tag|%>
          <a class="ui label" href="/main/tag_click/?id=<%=tag.id%>">
          <%= tag.name %>
          </a>
          <% end %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>